/* *{
    border: 1px solid black ;
} */

 :root{
    --pading-left: 3rem;
    --color-but: rgb(241, 194, 169);
 }
@font-face {
    font-family: 'fontlogo';
    src: url('./fonts/CAT_Constantia.ttf') format('woff2'), /* Formato WOFF2 */
         url('ruta-a-tu-fuente/font.woff') format('woff'); /* Formato WOFF */
    font-weight: normal; /* Peso de la fuente (normal, bold, etc.) */
    font-style: normal; /* Estilo de la fuente (normal, italic, etc.) */
  }
@font-face {
    font-family: 'fontpa';
    src: url(fonts/Merienda-VariableFont_wght.ttf) format('woff');
} 
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 165, 32, 0.531);
}
.content{
    display: flex;
    border: 1px solid black;
}
.sidebar{
    position: relative;
    font-family: fontlogo;
    font-size: 2rem;
    flex: 1.4;
    background-image: url('./img/pexels-michael-block-3225517.jpg');
    height: 30rem;
    width: 100%;
    background-size: 30rem;
    background-position: center;
    background-repeat: no-repeat;
}
.sideright{
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.lion{
    width: 4rem;
    position: relative;
    
}

.textLogo{
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px #3d400f;
}
.logo{
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.092);
}

.header{
    flex: 1.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 2rem var(--pading-left) 0;
    background-color: ghostwhite;
    letter-spacing: 1px;
    
}

.center{
    flex: 1.9;
    display: flex;
    padding-left: var(--pading-left);
    justify-content: start;
    gap: 10rem;
    font-size: 0.7rem;
    margin-bottom: 12px;
    
}

.footer{
    flex: 1.9;
    padding-left: var(--pading-left);
    background-color: rgb(242, 237, 250);
    padding-top: 1.2rem;
}

.pa1, .pa2{
    font-family: fontpa;
    font-size: 1.8ch;
    font-weight: bold;
}

input{
    width: 13rem;
    height: 1.1rem;
    outline: none;
    border: none;
}

.sLeft, .sRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.registro{
    margin: 0.6rem 0;
    padding-left: var(--pading-left);
    font-family: fontpa;
    font-size: 1.8ch;
    
}

input::placeholder{
    font-size: 0.8rem;
    color: rgba(128, 128, 128, 0.743);
    font-style: italic;
}

button{
    --pad-top: 5px;
    background-color: var(--color-but) ;
    padding: var(--pad-top) calc(var(--pad-top)*2);
    border: 1px solid  var(--color-but);
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 3px 2px 6px 0px rgba(0,0,0,0.4);
}

.input{
    border: 1px solid #d8d7d7;  
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2) ;
}
button:hover{
    background-color: rgb(219, 175, 151);
}

.input:focus:invalid{
   border-color: rgb(0, 149, 255);
   background-color: white;
}

.input:invalid{
    border-color: red;
    background-color: rgba(255, 0, 0, 0.115);
}

.input:placeholder-shown{
    border-color: #d8d7d7;
    background-color: white;
}

.input:valid{
    border-color: rgb(22, 225, 22);
    background-color: rgba(172, 232, 172, 0.448) ;
}



